@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;

}

body {
  background-color: gold;

  min-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;

}

.inputs-container {
  width: 85%;
  height: 45vh;
  
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

}

#changingBlock {
  background-color: black;
  
  width: 75%;
  height: 70%;

  border-radius: 0px;

}

input {
  max-width: 150px;
  width: 25%;
  height: 30px;

  position: absolute;

  color: rgb(13, 13, 82);
  font-size: 1.2em;
  text-align: center;

  border: none;
  border-radius: 4px;
  outline: none;

  padding: 10px 7px;

}

input::placeholder {
  font-size: 1.2rem;

}

input.top {
  top: 0;
  left: 0;

}

input.right {
  right: 0;
  top: 0;

}

input.bottom {
  bottom: 0;
  right: 0;

}

input.left {
  left: 0;
  bottom: 0;

}

@media (min-width: 550px) and (max-width: 800px) {
  .inputs-container {
    width: 70%;
    height: 500px;

  }

  #changingBlock {
    max-width: 600px;
    width: 75%;
    height: 400px;

  }

}

@media screen and (min-width: 800px) {
  body {
    min-height: 100vh;

  }

  .inputs-container {
    width: 70%;
    height: 600px;

  }

  #changingBlock {
    max-width: 600px;
    width: 75%;
    height: 500px;

  }
}