@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */

}

body {
  background-color: gold;

  min-height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#allInputs {
  max-width: 150px;
  min-width: 82px;
  width: 25%;
  height: 30px;

  color: rgb(13, 13, 82);
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.01em;

  padding: 10px 7px;
  
  border: none;
  border-radius: 4px 4px 0px 0px;
  outline: none;
  
}

#unit-buttons {
  max-width: 150px;
  min-width: 82px;
  width: 25%;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;


  margin: -1px 0 40px;

}

#unit-buttons button {
  background-color: white;

  width: 100%;
  height: 100%;

  border: none;
  border-top: 1px solid rgb(155, 154, 154);
  border-right: 1px solid rgb(155, 154, 154);

  border-radius: 0 0 0 4px;

  outline: none;

  cursor: pointer;

}

#unit-buttons button:last-child {
  
  margin-left: -1px;
  
  border-left: 1px solid rgb(155, 154, 154);
  border-right: none;
  border-radius: 0 0 4px 0;

}

#unit-buttons button.active {
  background-color: rgb(231, 231, 231);

}

#inputs-container {
  min-width: 250px;
  width: 85%;
  height: 45vh;
  
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

}

#squareBlock {
  background-color: black;
  
  width: 75%;
  height: 70%;

  border-radius: 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  transition: all 0.4s;

}

#inputs-container input {
  max-width: 150px;
  width: 25%;
  height: 30px;

  position: absolute;

  color: rgb(13, 13, 82);
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;

  border: none;
  border-radius: 4px;
  outline: none;

  padding: 10px 7px;

}

#inputs-container input::placeholder {
  font-size: 1.2rem;
  letter-spacing: 0.05em;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input.TopLeft {
  top: 0;
  left: 0;

}

input.TopRight {
  top: 0;
  right: 0;

}

input.BottomLeft {
  bottom: 0;
  left: 0;

}

input.BottomRight {
  bottom: 0;
  right: 0;

}

@media (min-width: 550px) and (max-width: 800px) {
  #inputs-container {
    width: 70%;
    height: 500px;

  }

  #squareBlock {
    max-width: 600px;
    width: 75%;
    height: 400px;

  }

}

@media (min-width: 800px) {
  body {
    min-height: 100vh;

  }

  #allInputs {
    font-size: 1.2em;


  }

  #inputs-container {
    min-width: 750px;
    width: 50%;
    height: 600px;

  }

  #squareBlock {
    max-width: 600px;
    width: 75%;
    height: 500px;

  }
}